.DS_Store
application/cache/*
!application/cache/index.html
application/logs/*
!application/logs/index.html
!application/*/.htaccess
composer.lock
user_guide_src/*
vendor/*
nbproject/
.idea/*
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
tests/tests/
tests/results/
user_guide/*
bower_components/*
system/*
application/views/cache/*
application/libraries/*
application/third_party/*
code/*
plugins/*
NOTE.txt
inc/*
code/*
assets/*
.vscode/*
FileDownload/*
filesUpload/*
log/*
scheduler/*