.DS_Store
application/cache/*
!application/cache/index.html
application/logs/*
!application/logs/index.html
!application/*/.htaccess
composer.lock
user_guide_src/*
vendor/*
nbproject/
.idea/*
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
tests/tests/
tests/results/
user_guide/*
bower_components/*
system/*
application/views/cache/*
application/libraries/html2pdf/*
application/libraries/mpdf60/*
application/libraries/PHPExcel/*
application/libraries/nusoap/*
application/libraries/nusoap.php
application/libraries/index.html
application/third_party/*
code/*
plugins/*
NOTE.txt
inc/*
code/*
.vscode/*
FileDownload/*
filesUpload/*
log/*
scheduler/*
zzz/*
assets/bootstrap/*
assets/css/skins/*
assets/dist/*
assets/eksternal/*
assets/excel/*
assets/fonts/*
assets/img/*
assets/icon/*
assets/jquery-ui-1.11.0/*
assets/js/AdminLTE/*
assets/js/old/*
assets/js/plugins/*
assets/phpexcel/*
assets/plugins/*
assets/swal/*
assets/tinymce/*
assets/*.js
assets/*.css
assets/*.scss
composer.json