.buttonXtra {
    margin: 20px 0px 20px 20px;
}
.modal-dialog {
    width: 1000px;
    margin: 30px auto;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #d2d6de;
    border-radius: 0px;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 32px;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 0px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table-responsive {
    min-height: .01%;
    overflow-x: hidden;
}
.error {
    color: red;
    font-weight: normal;
}
.input-sm {
    height: 32.5px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
select.input-sm {
    height: 33px;
    line-height: 30px;
}
.detail {
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 20px;
}
.col-form-label {
    margin-top: 5px;
}
.panelFilter {
    display: none;
    margin-bottom: 30px;
}